@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant data-checked (&[data-active]);
:root {
  --background: #ffffff;
  --foreground: #171717;
}

::selection {
  background-color: #494949;
  color: aliceblue;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-eudoxus);
  --font-editor: var(--font-editor);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --font-inter: InterVariable;
  --default-font-feature-settings: "cv11", "cv06";
  --font-inter--font-feature-settings: "cv11", "cv06";
}

@theme {
  --breakpoint-xs: 24rem;
}

/* 1) Define in :root (light) and override on html[data-theme="dark"] */
:root {
  --scrollbar-track: #f8f8f8;
  --scrollbar-thumb: #cacaca;
  --scrollbar-thumb-hover: #6b7280;
}

html[data-theme="dark"] {
  --scrollbar-track: #212121;
  --scrollbar-thumb: #888888;
  --scrollbar-thumb-hover: #aaaaaa;
}

/* 2) Apply to your scroll container */
.code-scrollbar {
  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

/* 3) WebKit */
.code-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.code-scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

.code-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 4px;
  /* border the same color as track to give a padding effect */
  border: 2px solid var(--scrollbar-track);
}

.code-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

.styled-scrollbar {
  scrollbar-width:thin;
  scrollbar-color: #eaeaea transparent;
  scrollbar-gutter: stable;
}

/* Target the npm command specifically */
.language-bash .token.function {
  color: #61dafb !important; /* Light blue for npm */
}

/* Target package names */
.language-bash .token.string,
.language-bash .token.argument {
  color: #98d982 !important; /* Green for package names */
}

/* Target the 'i' flag */
.language-bash .token.parameter {
  color: #ffd700 !important; /* Gold for flags */
}

@layer {
  .code-tag {
    @apply rounded-lg font-mono bg-neutral-50 dark:bg-neutral-900 dark:ring-neutral-800 px-1.5 mx-1 leading-relaxed relative my-6 py-0.5 ring-1 ring-neutral-200
  }

  .code-wrapper {
    @apply flex flex-col p-1 bg-neutral-50 dark:bg-neutral-950 rounded-2xl ring-1 ring-neutral-200 dark:ring-neutral-900
  }

  .minimal-button {
    @apply dark:hover:bg-neutral-950 hover:bg-neutral-50 cursor-pointer font-inter text-sm font-medium tracking-tight ring-1 dark:ring-neutral-600 ring-neutral-200 shadow-md rounded-xl bg-white dark:bg-neutral-900;
  }
  
  .font-italic {
    @apply font-editor italic font-normal tracking-normal text-neutral-950;
  }

  .black-gradient {
    @apply bg-gradient-to-b from-neutral-500 via-neutral-800 to-neutral-950;
  }

  .icon {
    @apply ring-1 sm:ring-3 rounded-md sm:rounded-xl text-white text-3xl md:text-5xl;
  }

  .icon-text {
    @apply flex items-center sm:items-end gap-3 px-2;
  }

  .image-card-smaller {
    @apply w-[180px] h-[180px] lg:w-[250px] lg:h-[250px] rounded-2xl lg:rounded-3xl;
  }

  .image-card-larger {
    @apply w-[220px] h-[220px] lg:w-[300px] lg:h-[300px] rounded-3xl lg:rounded-4xl;
  }

  .error-message {
    @apply absolute top-15 text-red-700/80 bg-red-100/50 p-1.5 font-inter tracking-tight font-medium rounded-md w-fit text-xs mt-2 ml-2;
  }

  .title-font {
    @apply font-sans font-bold tracking-tighter;
  }

  .title {
    @apply font-sans font-bold tracking-tighter text-3.5xl sm:text-5xl md:text-6xl;
  }

  .p-section {
    @apply text-neutral-600 tracking-tight font-inter dark:text-neutral-300 text-center max-w-2xl mx-auto;
  }

  .text-section {
    @apply flex flex-col items-center gap-2 mb-7;
  }

  .section-container {
    @apply min-h-screen mt-60 max-w-4xl flex flex-col items-center justify-center;
  }

  .h2-title {
    @apply font-semibold font-inter tracking-tight text-2xl md:text-3xl;
  }

  .h3-title {
    @apply font-semibold font-inter tracking-tight text-xl md:text-2xl;
  }

  .h6-title {
    @apply font-bold font-inter tracking-tight text-lg md:text-xl;
  }

  .rounded-icon {
    @apply rounded-full p-4 bg-gradient-to-b from-neutral-200 to-neutral-100  dark:from-neutral-700 dark:to-neutral-900 w-12 h-12 flex items-center justify-center ring-1 ring-neutral-300 dark:ring-neutral-500;
  }

  .card-component {
    @apply bg-neutral-50 dark:bg-neutral-900 ring-1 backdrop-blur-2xl ring-neutral-200 dark:ring-neutral-600 rounded-2xl;
    @apply hover:bg-gradient-to-t hover:from-neutral-100 hover:to-neutral-200 dark:hover:from-neutral-800 dark:hover:to-neutral-900;
  }

  .p-card {
    @apply dark:text-neutral-400 text-neutral-600 font-inter tracking-tight text-center text-sm max-w-sm;
  }

  .bento-grid {
    @apply grid grid-cols-12 min-h-80 w-full gap-4;
  }

  .nav-p {
    @apply hover:text-black dark:hover:text-white cursor-pointer transition-all text-neutral-600 dark:text-neutral-400 gap-2 font-inter tracking-tight font-medium text-sm;
  }

  .footer-p {
    @apply tracking-tight font-inter text-sm text-neutral-500;
  }

  .navbar-style {
    @apply z-100 fixed flex w-full items-center justify-between p-6 py-4 sm:py-6 sm:px-12 mb-3 top-0 left-1/2 transform -translate-x-1/2 bg-transparent backdrop-blur-3xl border-b border-neutral-200 dark:border-neutral-800 dark:shadow-lg m-auto;
  }

  .swift-orange-icon {
    @apply rounded-full p-4 bg-gradient-to-b text-black dark:text-white from-orange-300 to-orange-200 dark:from-orange-700 dark:to-orange-900 w-12 h-12 flex items-center justify-center ring-1 ring-orange-400/50 dark:ring-orange-600;
  }

  .orange-card {
    @apply bg-orange-400/10 dark:bg-orange-900/70 ring-1 backdrop-blur-2xl ring-orange-200 dark:ring-orange-800 rounded-2xl;
    @apply hover:bg-gradient-to-t dark:hover:bg-orange-800 dark:hover:bg-gradient-to-b hover:from-orange-300/50 hover:to-orange-400/50 dark:hover:from-orange-950 dark:hover:to-orange-900/80;
  }

  .square-grid {
    @apply relative mt-15 md:mt-25 h-full mx-auto w-full lg:overflow-hidden px-6 pt-10 pb-4 sm:px-12 md:pt-10 md:pb-20 lg:px-8;
  }

  .bg-clean {
    @apply bg-white dark:bg-black w-full bg-fixed bg-center overflow-x-clip min-h-screen relative text-white;
  }

  .grid-title {
    @apply mx-auto text-left bg-gradient-to-b from-neutral-950 via-neutral-900 to-neutral-800 bg-clip-text text-transparent dark:from-neutral-200 dark:via-neutral-100 dark:to-white text-3xl md:text-4xl lg:text-4xl md:leading-tight pt-4 pr-0.5;
  }

  .navbar-container {
    @apply flex mx-auto max-w-[1600px] items-center w-full justify-between;
  }

  .text-primary {
    @apply text-black dark:text-white;
  }

  .aside-text {
    @apply font-inter tracking-tight font-semibold text-sm;
  }

  .p-style {
    @apply font-inter mt-2 text-sm md:text-base text-neutral-800 dark:text-neutral-200 tracking-tight
  }

  .sidebar-text {
    @apply hover:text-black dark:hover:text-white cursor-pointer transition-all text-neutral-600 dark:text-neutral-400 gap-2 font-inter tracking-tight font-medium text-base data-checked:text-sky-500 data-checked:font-semibold data-checked:text-[17px]
  } 
}

@utility text-xxs {
  font-size: 10px;
}

@utility text-3.5xl {
  font-size: 34px;
}

html {
  scroll-behavior: smooth;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 2. Create a utility class that uses those keyframes */
.fade-in-up {
  animation: fadeInUp 0.6s ease-out forwards;
}

@keyframes hammerBuild {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Optional: Add this if you want to ensure the sticky behavior works properly */
  .sticky-sidebar {
    position: sticky;
    top: 5rem; /* 20px in rem units */
    height: fit-content;
    align-self: start;
  }
}

html[data-theme="dark"] body {
  background-color: #000;
}

body {
  background-color: var(--background); /* Fallback color */
  background-image: url("/desktopgrid.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--foreground);
  overflow-x: hidden;
  font-family: InterVariable, Helvetica, sans-serif;
  font-feature-settings: "cv11";
}
